
#heading {
    font-size: 48px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff6ec4, #7873f5);
  
  /* all browser can use */
  background-clip: text;
  
  /* WebKitï¼ŒChrome/Safari */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}